body {
	margin-top: 1em;
	font-family: 'Droid Sans';
	background: #dedede;

}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.main-view {
	padding-top: 1em;
}

@media(min-width:768px) {
	.main-view {
        padding-top: 0em;
	}
}

/* Forms */

.form-signin {
  max-width: 440px;
  margin: 0 auto;
}

.single-content {
	padding-top: 20px;
}

@media(min-height:768px) {
	.single-content {
		padding-top: 160px;
	}
}

.form-signin .form-group {
	background-color: #F9F7F7;
	border-radius: 5px;
	border: 0;
	padding: 20px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input {
  margin-bottom: 20px;
}

/* Misc */

.white-outline {
	color: white;
	border: 1px solid white;
}

.text-white {
	color: white;
}

.btn-secondary-outline.white-outline:hover {
	background-color: white;
	color: #0275D8;
	border: 1px solid white;
}

.btn-secondary-outline.white-outline.active {
	background-color: white;
	color: #0275D8;
	border: 1px solid white;
}

.no-border-top {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-top-left-radius: 0px;
	-moz-border-top-right-radius: 0px;
}

.no-border-bottom {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	-moz-border-bottom-right-radius: 0px;
}

.soft-shadow {
-webkit-box-shadow: 0px 4px 6px 0px rgba(214,214,214,1);
-moz-box-shadow: 0px 4px 6px 0px rgba(214,214,214,1);
box-shadow: 0px 4px 6px 0px rgba(214,214,214,1);
}

.soft-shadow-xs {
-webkit-box-shadow: 0px 4px 6px 0px rgba(214,214,214,1);
-moz-box-shadow: 0px 4px 6px 0px rgba(214,214,214,1);
box-shadow: 0px 4px 6px 0px rgba(214,214,214,1);
}

a.active-inverse {
	background-color: #373A3C;
	color: #F7F7F9;
}

a.active-inverse:hover {
	background-color: #373A3C;
	color: #F7F7F9;
}