body {
	font-family: 'Droid Sans';
	background: #dedede;

}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

/* Side Navigation */
.side-nav {
	background-color: #f0f0f0;
	padding-bottom: 15px;
	padding-top: 1em;
}
.builds-view {
	background-color: #dedede;
	padding-top: 1em;
}

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 54px;
        left: 0px;
        width: 30%;
        border: none;
        border-radius: 0;
		overflow-y: auto; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }
	.builds-view {
        position: fixed;
        top: 54px;
		width: 70%;
		right: 0px;
        border: none;
        border-radius: 0;
		overflow-y: auto;
  		-webkit-overflow-scrolling: touch;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
	}
}

/* Forms */

.form-signin {
  max-width: 440px;
  margin: 0 auto;
}

.single-content {
	padding-top: 20px;
}

@media(min-height:768px) {
	.single-content {
		padding-top: 160px;
	}
}

.form-signin .form-group {
	background-color: #F9F7F7;
	border-radius: 5px;
	border: 0;
	padding: 20px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input {
  margin-bottom: 20px;
}